<!-- Side navigation -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="sidenav">
        <div>
          <p>Female Users {{ femaleCount}}</p>
        </div>
        <div>
          <p>Male Users {{ maleCount}}</p>
        </div>
        <div>
          <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
        </div>
        <div>
          <button id="btn" routerLink="/user-form" #addUserBtn class="btn btn-primary">Add User</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>